<mat-toolbar style="background-color: #C2185B;" color="primary" >
  
  <button mat-button routerLink="/home"><span class="material-icons">
  
    </span>Home</button>
  <button mat-button routerLink="/recepies-list"><span class="material-icons">
  
    </span>Veg Recepies</button>
<button mat-button routerLink="/non-veg"><span class="material-icons">
  
    </span>Non-Veg Recepies</button>
    <button mat-button routerLink="/sweet"><span class="material-icons">
  
    </span>Sweet Recepies</button>
</mat-toolbar>
